{% extends "base.html" %}
{% block content %}
    <div class="hero-img">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light index-nav">
                <a>{{ location }}, {{ temp }}℃</a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav light-menu ml-auto">
                        <li class="nav-item active m-auto">
                            <a class="nav-link omeni" href="/">Home <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item m-auto">
                            <a class="nav-link projekti" href="/projects">Projects</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <section class="main-card">
            <div class="main-box img-circle-card">
                <div class="left-info">
                    {% load static %}
                    <img src="{% static 'img/me.jpg' %}" alt="">
                </div>
                <ul class="social-icons">
                    <li><a href="https://instagram.com/_urban_exploration_/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/rok.zabukovec"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/rok-zabukovec-14bb818a/"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li><a href="https://github.com/RokZabukovec"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
            <div class="main-box main-info">
                <h1>ROK ZABUKOVEC</h1>
                <p>Student of Faculty of information studies</p>
                <ul class="basic-info-list">
                    <li>Age: <span>24</span></li>
                    <li>Address: <span>Potočna vas 6, Novo mesto</span></li>
                    <li>Email: <span>kzabuk@gmail.com</span></li>
                    <li>Phone: <span>040-262-866</span></li>
                    <li><a href="/download">
                        <button class="btn btn-primary btn-prenos">Download CV</button>
                    </a></li>
                </ul>
            </div>
        </section>
    </div>
    <section class="tehnology">
        <ul>
            <li><i class="fab fa-js"></i></li>
            <li>Vanilla JS</li>
            <li>ES6</li>
            <li>DOM Manipulation</li>
            <li>AJAX</li>
        </ul>
        <ul>
            <li><i class="fab fa-java"></i></li>
            <li>Object-oriented programming</li>
            <li>Network application</li>
            <li>Connecting to MySQL</li>
        </ul>
        <ul>
            <li><i class="fab fa-php"></i></li>
            <li>Connecting to MySQL</li>
            <li>Sessions and Cookies</li>
            <li>User data processing</li>
            <li>Login system</li>
        </ul>
        <ul>
            <li><i class="fab fa-python"></i></li>
            <li>MVC framework DJANGO</li>
            <li>Task automation with CRON</li>
            <li>Web scraping</li>
            <li>Sending emails</li>
        </ul>
        <ul>
            <li><i class="fab fas fa-database"></i></li>
            <li>Creating tables</li>
            <li>Data input</li>
            <li>Data deletion</li>
            <li>Table relationships</li>
        </ul>
    </section>
    <section class="projects">
        <div class="container">
            <h1 class="section-title" id="section-title">LAST PROJECTS</h1>
            {% for project in projects %}
                <div class="project-post">
                    <img src="{{ project.cover.url }}" width="100%" height="250px">
                    <h1>{{ project.title }}</h1>
                    <p> {{ project.overview }}</p>
                    <small> {{ project.posted }}</small>
                    <br>
                    <a href="{{ project.link }}">{{ project.link }}</a>
                </div>
                <br>
            {% endfor %}
            <a href="/projects" class="btn btn-block btn-prenos show-all"> Show all projects</a>
            <br>
        </div>
    </section>
    <footer class="footer">
    <div class="contact">
        <ul>
            <h3>Rok Zabukovec</h3>
            <li>Email: kzabuk@gmail.com</li>
            <li>Phone: 040-262-866</li>
        </ul>
        <small>Rok zabukovec, 2018 </small>
    </div>
    </footer>
{% endblock %}