/*medium grey: #707070*/
/*title grey: #464646*/
/*green border: #1AA800*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

a {
    color: #1AA800;
}

.container {
    position: relative;
    width: 80%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.hero-img {
    background: url("https://images.unsplash.com/photo-1505598439340-9a5cdc676547?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3ed7798602ecf96facc47800e0930a7&auto=format&fit=crop&w=1950&q=80") no-repeat center;
    object-fit: cover;
    height: 50vh;
    width: 100%;
}

.navbar {

    top: 22px;
    border-radius: 5px;
    width: 100%;
}

.light-menu {
    display: flex;
    text-transform: uppercase;
}

.light-menu li {
    position: relative;
    padding: 0 20px;
    cursor: pointer;
}

.light-menu li::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    background: #1AA800;
    width: 0;
    transition: 0.3s all ease;
}

.light-menu li:hover::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    background: #1AA800;
    width: 100%;
}

.main-card {
    position: absolute;
    top: -100px;
    width: 100%;
    min-height: 500px;
    height: auto;
    background: white;
    border: 1px solid #adadad;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.5);
}

.main-box {
    position: relative;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
}

.left-info {
    position: absolute;
    top: 45%;
    left: 50%;
}

.main-box .social-icons {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    margin: 20px auto;
}

.main-box .social-icons li {
    display: inline;
    font-size: 20px;
    padding: 0 10px;
}

.main-box .social-icons li a {
    display: inline;
}

.left-info img {
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.main-info h1 {
    position: relative;
    color: #464646;
    padding-top: 20px;
    border-bottom: 3px solid #1AA800;
    max-width: 100%;
}
.main-info::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    width: 1px;
    background: #1AA800;
    height: 30%;
}
.main-info p {
    color: #8c8c8c;
    padding-left: 20px;
}

.basic-info-list {
    position: absolute;
    top: 30%;
    line-height: 300%;
    width: 80%;
    font-weight: bold;
}

.basic-info-list span {
    float: right;
    font-weight: lighter;
}

.btn-prenos {
    background: #1AA800;
    border: none;
}

.btn-prenos:hover {
    background: #1b8e00;
    border: none;
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }

    .main-card {
        position: relative;
        top: -100px;
        width: 100%;
        min-height: 800px;
        height: auto;
        background: white;
        border: 1px solid #adadad;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.5);
    }

    .main-box {
        position: relative;
        flex: 1;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
    }

    .main-box .social-icons {
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -50%);
        margin: 20px auto;
    }

    .main-info h1 {
        position: relative;
        color: #464646;
        padding: 20px 20px 0 20px;
        border-bottom: 3px solid #1AA800;
        max-width: 100%;
        width: 100%;
        font-size: 1.3em;
        left: 50%;
        transform: translateX(-50%);
    }

    .main-info p {
        font-size: 0.8em;
    }

    .basic-info-list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 300%;
        width: 80%;
    }

    .basic-info-list span {
        float: none;
        font-weight: lighter;
    }

    .basic-info-list {
        line-height: 300%;
        font-size: 0.9em;
    }
}